#!/bin/bash

# syntaxes/Fennel.sublime-syntax hash: {{ include "private_dot_config/bat/syntaxes/Fennel.sublime-syntax" | sha256sum }}
# syntaxes/Bats.sublime-syntax hash: {{ include "private_dot_config/bat/syntaxes/Bats.sublime-syntax" | sha256sum }}
# themes/Everblush.tmTheme hash: {{ include "private_dot_config/bat/themes/Everblush.tmTheme" | sha256sum }}
bat cache --build
